.experience__botao--demo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    margin-left: 16px;
    border: 1px solid var(--color-de-botones);
    background: var(--color-de-botones);
    color: white;
}

.experience__botao--demo:hover{
    background-color: rgb(255, 156, 110);
    border-width: 3px;
    transition: 1s

}

.experience__botao--demo:active{
    border-color: rgb(0, 0, 0);
    border-width: 3px;
    transition: 1s
}